#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Container
{
  button
  {
    height: 50px;
    width: 120px;
    background-color: black;
    color: white;
  }
}